@model List<Customer>


<table class="table">
    <thead>
        <tr>
            <th>Civil Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
<tbody>
        @foreach (var e in Model)
        {
      <tr>
        <th>@e.CivilId</th>
        <th>@e.Name</th>
        <th>@e.Email</th>
        <th>@e.Phone</th>
      </tr>
        }
  </tbody>
</table>   